<div class=container>
  <h1>Book a <%= "celineversion_id.name" %></h1>
  <p><%= "celineversions.description" %></p>
  <p>$<%= "celineversions.price" %></p>
  <button type="button" class="btn btn-danger">Choose your destiny</button>
</div>
