<div class="home-banner">
  <video id="VideoBackground" poster="https://meyersound.com/wp-content/uploads/2016/12/celine_dion_03.jpg" autoplay muted loop>
    <source src="https://res.cloudinary.com/dxnwiwjs5/video/upload/v1574454607/Celine_c67kic.mp4" type="video/mp4">
  </video>
    <div class="row justify-content-end">
      <div class="col-md-6 mt-5">
        <div class="card-wbody">
          <h3 class="card-title">Book the version of Céline Dion you always wanted to meet.</h3>
          <h5 class="card-text mt-4">Obviously, everyone is (secretely) a Céliner!</h5>
            <div class="card-section">
              <p class="text-headers-style"> You can list all the incredible CélineVersions we have!</p>
              <div class="card-section">
                <%= link_to "Display all CélineVersions", celineversions_path, { class: "btn btn-dark" } %>
              </div>
            </div>
            <div class="card-section">
              <p class="text-headers-style"> A CélineVersion is missing? We're waiting for you to add it!</p>
              <div class="card-section">
                <%= link_to "Create a new CélineVersion", new_celineversion_path, { class: "btn btn-dark" } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
