.new_booking {
  label {
    font-weight: bold;
  }
  // .required abbr {
  //   display: none;
  // }
}

.new_celineversion {
  label {
    font-weight: bold;
  }
}

.edit_celineversion {
  label {
    font-weight: bold;
  }
}

.new_user {
  label {
    font-weight: bold;
  }
}

.edit_user {
  label {
    font-weight: bold;
  }
}

